<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div class="container content-body" th:fragment="home-info">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading" style="background-color: rgba(30, 88, 93, 0.78)">
                            <h4 class="panel-title ">欢迎来到文本生成系统</h4>
                        </div>
                        <div class="panel-body">
                            <p>
                                文本生成系统提供以下功能：
                            </p>
                            <ul>
                                <li>场景管理（添加、删除场景，添加预置语句）</li>
                                <li>机器学习</li>
                                <li>文本生成</li>
                                <li>登录，注册，修改用户密码</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>